@charset "UTF-8";
/*TÃTULO*/
.divH1 {
  display: flex;
  justify-content: center;
  background-color: #354F51; }
  .divH1 a {
    text-decoration: none; }

h1 {
  font-size: 4.5vw;
  margin: 4%;
  color: black; }

/* NAV */
nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #52796F; }
  nav ul li {
    font-size: 2vw;
    margin: 1.5% 0; }
    nav ul li a {
      text-decoration: none;
      color: black; }
    nav ul li .dropdown {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 0.5s ease;
      left: 0;
      background-color: #84A98C;
      margin-top: 1.5%;
      width: 100%;
      height: 10vw;
      display: flex;
      justify-content: space-around;
      align-items: center; }
  nav ul li:hover > ul, nav ul ul li ul:hover {
    visibility: visible;
    opacity: 1; }
    nav ul li:hover > ul li .a1:hover, nav ul ul li ul:hover li .a1:hover {
      color: #E56B6F; }
    nav ul li:hover > ul li .a2:hover, nav ul ul li ul:hover li .a2:hover {
      color: #6D597A; }
    nav ul li:hover > ul li .a3:hover, nav ul ul li ul:hover li .a3:hover {
      color: #EAAC8B; }
    nav ul li:hover > ul li .a4:hover, nav ul ul li ul:hover li .a4:hover {
      color: #B56576; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background-color: #CAD2C5; }

section div img {
  width: 100%; }
