#selecionar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#tarjetas {
  display: flex;
  justify-content: center; }
  #tarjetas div {
    margin: 0 3%; }

.tarjetaDeCohadraja {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 5% 0; }
  .tarjetaDeCohadraja img {
    width: 45vw; }

#dia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  #dia .wrapeando {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%; }
    #dia .wrapeando button img {
      width: 20vw; }

#cohadraja {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.subtitulo {
  display: flex;
  justify-content: center;
  font-size: 7vw;
  width: 100%;
  margin: 3% 0; }

.divImgCrono {
  display: flex;
  justify-content: center;
  margin-top: 3%; }

.imgCrono {
  width: 95%; }

.peulaxdia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3% 0;
  border: solid 3px black;
  border-radius: 10px;
  background-color: #A1E3FC;
  padding: 2%; }

#items {
  width: 90vw;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#h2Peula {
  font-size: 5.5vw; }

#listado {
  background-color: #59C2FC;
  border-radius: 7px;
  padding: 2%;
  margin-top: 4%; }
  #listado .listados {
    margin-top: 10%; }
    #listado .listados a {
      color: black;
      text-decoration: none;
      font-size: 4.5vw;
      font-weight: bold; }

.divPeulot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5% 0 2% 0; }
  .divPeulot a {
    text-decoration: none;
    color: black;
    margin: 0 1%;
    font-size: 4vw;
    margin-top: 2%; }

.divGrales {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%; }
  .divGrales div {
    background-color: #59C2FC;
    border-radius: 7px;
    padding: 3%; }
    .divGrales div a {
      text-decoration: none;
      color: black;
      font-size: 4.5vw;
      font-weight: bold; }

#java {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 2% 0; }
  #java button .tarjetaJava {
    width: 55vw; }

#seccion {
  margin-top: 2%; }

#extras {
  display: flex;
  justify-content: center; }
  #extras div {
    margin: 0 3%; }

.tarjetaExtra {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 5% 0; }
  .tarjetaExtra img {
    width: 40vw; }

#golosinas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  #golosinas .divGolos {
    display: flex;
    justify-content: center; }

.tarGolo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: black solid 3px;
  border-radius: 10px;
  margin: 2%;
  padding: 3%; }
  .tarGolo img {
    width: 35vw; }
  .tarGolo div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .tarGolo div h3 {
      margin-top: 10%; }
    .tarGolo div button {
      border: solid black 1px;
      border-radius: 5px;
      padding: 2%;
      margin-top: 5%;
      width: 30vw;
      background-color: black;
      color: white; }

#intro {
  display: flex;
  flex-direction: column;
  align-items: center; }

#btnF {
  color: red; }

#btnA {
  color: blue; }

#btnT {
  color: green; }

#circulo-de-la-muerte {
  display: flex;
  justify-content: center;
  align-items: center; }

#parrafo-explicacion {
  width: 80vw;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 5vw; }

#iniciar-juego {
  width: 50vw;
  height: 5vh;
  margin-top: 2vh;
  border-radius: 10px;
  font-size: 2.5vh;
  border: solid black 3px;
  background-color: #59C2FC;
  color: black; }

.ver-seleccionar {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  gap: 5px; }

#ver-ataques-jugador, #ver-ataques-cpu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px; }

.tarjeta-ver-madrij {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.tarjeta-ver-madrij h3 {
  margin: 0px;
  padding-bottom: 5px; }

#tarjetas-madrijim, #tarjetas-madrijim-cpu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 95vw; }

#tarjetas-madrijim-cpu > * {
  flex: 1 1 70px; }

.imgMadrij {
  width: 20vw; }

#ver-madrij img, #ver-madrij-cpu img {
  width: 30vw; }

#ver-madrij, #ver-madrij-cpu {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin-top: 2vh;
  font-size: 4vw;
  background-color: #9DDAFC;
  margin-bottom: 5%; }

.madrijCard {
  padding: 10px;
  text-align: center; }
  .madrijCard img {
    border-radius: 10px;
    border: solid black 3px; }

.img:hover {
  border: 3px solid #9DDAFC; }

#select-madrij-cpu {
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

#info {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

#img-versus {
  width: 20vw; }

#select-atacks {
  flex-direction: column;
  align-items: center; }

#ruleta {
  flex-direction: column;
  align-items: center;
  height: 90vh; }

.titulo {
  text-align: center; }

.titulo h1 {
  font-size: 40px; }

.titulo h2 {
  font-size: 28px;
  margin: 4% 0; }

#select-madrij {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh; }

#boton-select-madrij, #boton-select-madrij-cpu {
  width: 35vw;
  height: 6vh;
  padding: 2%;
  font-size: 20px;
  border-radius: 15px;
  border: solid black 2px;
  background-color: #59C2FC;
  color: black; }

.tarjeta-combate {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
  width: 31vw; }

.tarjeta-combate p {
  font-size: 1.8vh;
  margin: 0; }

.img-combate {
  width: 25vw; }

#ataques {
  width: 50vw;
  height: 25vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px; }

.btnAtaque {
  font-weight: bold;
  height: 3.5vh;
  font-size: 1.4vh;
  border-radius: 10px;
  border: black solid 1px;
  padding: 2%; }

#resultado-combate {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  font-size: 32px;
  margin-top: 20px;
  text-align: center; }

.continuar, #girar {
  width: 50vw;
  height: 5vh;
  font-size: 4vw;
  border-radius: 10px;
  border: solid black 3px;
  background-color: #59C2FC;
  color: black; }

#girar-y-premio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5vh;
  margin-top: 5%; }

#premio {
  font-size: 24px;
  text-align: center; }

#lista-premios {
  border: 2px solid black;
  border-radius: 20px;
  padding: 4%;
  margin: 10% 2%; }

#lista-premios h3 {
  margin: 0px;
  padding: 5px; }

#madrij-jugador, #madrij-cpu {
  font-size: 7vw; }

#victorias-jugador, #victorias-cpu {
  font-size: 2vh; }

#ataques-jugador, #ataques-cpu {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  list-style: none;
  padding: 0px;
  text-align: center; }

#ataques-jugador p, #ataques-cpu p {
  margin-bottom: 10px; }

.h2Musica {
  display: flex;
  justify-content: center;
  margin-bottom: 4%; }
  .h2Musica h2 {
    font-size: 8vw; }

.pMusica {
  display: flex;
  justify-content: center;
  margin-bottom: 10%; }

.playlists {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .playlists a {
    margin: 3% 0; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background-color: #B5E3F7; }

.divH1 {
  display: flex;
  justify-content: center;
  margin: 0 0 3% 0; }
  .divH1 a img {
    width: 100vw; }

button {
  background: none;
  outline: none;
  border: none; }

.divH2Extras {
  display: flex;
  justify-content: center; }

.h2Extras {
  font-size: 8.5vw; }
