#selecionar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#tarjetas {
  display: flex;
  justify-content: center; }
  #tarjetas div {
    margin: 0 3%; }

.tarjetaDeCohadraja {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 5% 0; }
  .tarjetaDeCohadraja img {
    width: 45vw; }

#dia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  #dia .wrapeando {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%; }
    #dia .wrapeando button img {
      width: 20vw; }

#cohadraja {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.subtitulo {
  display: flex;
  justify-content: center;
  font-size: 7vw;
  width: 100%;
  margin: 3% 0; }

.divImgCrono {
  display: flex;
  justify-content: center;
  margin-top: 3%; }

.imgCrono {
  width: 95%; }

.peulaxdia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3% 0;
  border: solid 3px black;
  border-radius: 10px;
  background-color: #A1E3FC;
  padding: 2%; }

#items {
  width: 90vw;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#h2Peula {
  font-size: 5.5vw; }

#listado {
  background-color: #59C2FC;
  border-radius: 7px;
  padding: 2%;
  margin-top: 4%; }
  #listado .listados {
    margin-top: 10%; }
    #listado .listados a {
      color: black;
      text-decoration: none;
      font-size: 4.5vw;
      font-weight: bold; }

.divPeulot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5% 0 2% 0; }
  .divPeulot a {
    text-decoration: none;
    color: black;
    margin: 0 1%;
    font-size: 4vw;
    margin-top: 2%; }

.divGrales {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%; }
  .divGrales div {
    background-color: #59C2FC;
    border-radius: 7px;
    padding: 3%; }
    .divGrales div a {
      text-decoration: none;
      color: black;
      font-size: 4.5vw;
      font-weight: bold; }

#java {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 1% 0; }
  #java button .tarjetaJava {
    width: 55vw; }

#extras {
  display: flex;
  justify-content: center; }
  #extras div {
    margin: 0 3%; }

.tarjetaExtra {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 5% 0; }
  .tarjetaExtra img {
    width: 40vw; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background-color: #B5E3F7; }

.divH1 {
  display: flex;
  justify-content: center;
  margin: 0 0 3% 0; }
  .divH1 a img {
    width: 100vw; }

button {
  background: none;
  outline: none;
  border: none; }

.divH2Extras {
  display: flex;
  justify-content: center; }

.h2Extras {
  font-size: 8.5vw; }
