#selecionar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#tarjetas {
  display: flex;
  justify-content: center; }
  #tarjetas div {
    margin: 0 3%; }

.tarjetaDeCohadraja {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 5% 0; }
  .tarjetaDeCohadraja img {
    width: 30vw; }

#java {
  display: flex;
  justify-content: center; }
  #java .divJava {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 3px;
    width: 60vw;
    height: 15vw;
    margin: 5%;
    background-color: #84A98C; }

#dia {
  display: flex;
  justify-content: space-evenly; }
  #dia button {
    background-color: #84A98C;
    width: 7vw;
    height: 7vw; }

#cohadraja {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.subtitulo {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  width: 100%;
  margin: 5% 0; }

.divImgCrono {
  display: flex;
  justify-content: center;
  margin-top: 3%; }

.imgCrono {
  width: 95%; }

#java {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background-color: #CAD2C5; }

.divH1 {
  display: flex;
  justify-content: center;
  margin: 3%; }
  .divH1 a {
    text-decoration: none; }
