@import "./variables/variables";
@import "sass2/mixin";
@import "./partials/seleccion";
@import "./partials/dias";
@import "./partials/cohadraja";
@import "./partials/java";
@import "./partials/golo";
@import "./partials/combate";
@import "./partials/musica";



*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: $pal3A;
}

.divH1{
    display: flex;
    justify-content: center;
    a{
        img{
            width: 100vw;
        }
    }
    margin: 0 0 3% 0;
}

button{
    background: none;
    outline: none;
    border: none;
}

.divH2Extras{
    @include centrar;
}

.h2Extras{
    font-size: 8.5vw;
}