@import "./variables/variables";
@import "sass2/mixin";
@import "./partials/seleccion";
@import "./partials/dias";
@import "./partials/cohadraja";
@import "./partials/java";


*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: $pal1D;
}

.divH1{
    display: flex;
    justify-content: center;
    a{
        img{
            width: max-content;
        }
    }
    margin: 0 0 3% 0;
}

button{
    background: none;
    outline: none;
    border: none;
}