$marginGral: 1%;
$paddingGral: 1%;
$pal1A: #354F51;
$pal1B: #52796F;
$pal1C: #84A98C;
$pal1D: #CAD2C5;
$pal2JM: #E56B6F;
$pal2JT: #6D597A;
$pal2JK: #EAAC8B;
$pal2JJ: #B56576;
$pal3A: #B5E3F7;
$pal3B: #9DDAFC;
$pal3C: #59C2FC;
$pal3D: #4C62FE;
$pal3E: #543AE8;
$pal3F: #A1E3FC;