@import "./sass2/mixin";
@import "./variables/variables";

#dia{
    display: flex;
    justify-content: space-evenly;
    button{
        background-color: $pal1C;
        width: 7vw;
        height: 7vw;
    }
}