@import "./sass2/mixin";
@import "./variables/variables";

#dia{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .wrapeando{
        display: flex;
        align-items: center;
        flex-direction: column;
        button{
            img{
                width: 20vw;
            }
        }
        margin-bottom: 3%;
    }
}