@import "./sass2/mixin";
@import "./variables/variables";

#dia{
    display: flex;
    justify-content: center;
    section{
        display: flex;
        justify-content: space-around;
        text-align: center;
        gap: 10px;
        div{
            border: black solid 3px;
            background-color: $pal1C;
            width: 5vw;
            height: 5vw;
        }
    }
}