@import "./sass2/mixin";
@import "./variables/variables";

#golosinas{
    @include columna-a-centrar;
    .divGolos{
        @include fila;
    }
}

.tarGolo{
    @include columna-a-centrar;
    width: 30vw;
    border: black solid 3px;
    border-radius: 10px;
    margin: 2%;
    img{
        width: 10vw;
    }
}