/*TÃTULO*/

.divH1{
    @include jContC;
    background-color: $pal1A;
    a{
        text-decoration: none;
    }
}

h1{
    font-size: 4.5vw;
    margin: 4%;
    color: black;
}

/* NAV */

nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: $pal1B;
    li{
        font-size: 2vw;
        margin: 1.5% 0;
        a{
            text-decoration: none;
            color: black;
        }
        .dropdown{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease;
            left: 0;
            background-color: $pal1C;
            margin-top: 1.5%;
            width: 100%;
            height: 10vw;
            @include navItems;
        }
    }
    li:hover > ul, ul li ul:hover{
        visibility: visible;
        opacity: 1;
        li .a1:hover{
            color: $pal2JM;
        }
        li .a2:hover{
            color: $pal2JT;
        }
        li .a3:hover{
            color: $pal2JK;
        }
        li .a4:hover{
            color: $pal2JJ;
        }
    }
}