@import "./sass2/mixin";
@import "./variables/variables";

#java {
    @include columna-a-centrar;
    box-sizing: border-box;
    margin: 2% 0;
    button{
        .tarjetaJava{
            width: 55vw;
        }
    }
}

#seccion{
    margin-top: 2%;
}

#extras{
    display: flex;
    justify-content: center;
    div{
        margin: 0 3%;
    }
}

.tarjetaExtra{
    @include a-centrar;
    box-sizing: border-box;
    margin: 5% 0;
    img{
        width: 40vw;
    }
}