@import "./sass2/mixin";
@import "./variables/variables";

#selecionar{
    @include columna-a-centrar
}

#tarjetas{
    display: flex;
    justify-content: center;
    div{
        margin: 0 3%;
    }
}

.tarjetaDeCohadraja{
    @include a-centrar;
    box-sizing: border-box;
    margin: 5% 0;
    img{
        width: 45vw;
    }
}