@mixin columna-a-centrar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@mixin fila-centrar {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@mixin centrar {
    display: flex;
    justify-content: center;
}

@mixin a-centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}